
body { font-family:Verdana, Geneva, sans-serif; margin:0 auto; padding:0; background-color:#2d6dae;overflow:hidden;}
ul,li { padding:0; margin:0; list-style-type:none;}

.back {background:url(../images/back.gif) repeat-x; width:1024px; height:768px;display:block;  position:relative; margin:0 auto; top:0; left:0; }

.login-back { width:526px; height:291px; background:url(../images/wzh.png) no-repeat; top:215px; left:249px; position:absolute;}
.login-name { position:absolute; left:50px; top:30px; height:40px; font-size:20px; color:#0a56a7; font-family:"微软雅黑"; font-weight:bold;}
.login-from { position:absolute; width:290px; height:155px;left:200px; top:100px; }
.shenfenz { position:absolute;top:0; left:0;}
.zhenjian { position:absolute; top:40px; left:0;}
.zhenjian input { height:22px; width:205px;}
.shenfenz input { height:22px; width:205px;}
.login-from span { font-size:13px; color:#58595b; font-weight:bold; word-spacing:3px; display:inline;}

.buttonk { position:absolute; left:75px; bottom:5px; width:auto;height:35px;}
.buttonk input { margin-right:25px; cursor:pointer; border:0;}
.buttonDl { background:url(../images/login_0.jpg) no-repeat; width:75px; height:28px; border:0;}
.buttonDlOnlie { background:url(../images/login_1.jpg) no-repeat; width:75px; height:28px;border:0;}
.buttonDlDown { background:url(../images/login_2.jpg) no-repeat; width:75px; height:28px;border:0;}

.buttonCz { background:url(../images/reset_0.jpg) no-repeat; width:75px; height:28px; border:0;}
.buttonCzOnlie { background:url(../images/reset_1.jpg) no-repeat; width:75px; height:28px;border:0;}
.buttonCzDown { background:url(../images/reset_2.jpg) no-repeat; width:75px; height:28px;border:0;}






