<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=8"/> 
	<title>国家统一法律职业资格考试计算机化考试模拟答题演示</title>
	<link type="image/x-icon" href="static/images/favicon.ico" rel="shortcut icon"/>
	<link rel="stylesheet" type="text/css" href="static/plugins/artdialog/ui-dialog.css" />
	<link rel="stylesheet" type="text/css" href="static/css/login.css" />
 	<script language="javascript" src="static/js/jquery.min.js"></script>
  	<script language="javascript" src="static/plugins/artdialog/dialog-min.js"></script>
  	<script language="javascript" src="static/js/obt.js"></script>
	<script language="javascript" src="static/js/util.js"></script>
	<script language="javascript" src="static/js/message.js"></script>
  	<script language="javascript" src="static/js/kslogin.js"></script>
</head>

<body>
	<div class="lg_main">
		<div class="ksZwh" id="zwh" style="display:none"></div>
		<div class="lg_header">
			<span>&nbsp;</span>
		</div>
		<div class="lg_from">
			<div class="kcmc">&nbsp;</div>
			<div class="shenfenz">
				<span>准考证号:</span>
				<input type="text" id="zkzh"/>
			</div>
			<div class="zhenjian">
				<span>身份证号:</span>
				<input type="text" id="zjbm" style="ime-mode:auto;"/>
			</div>
			<div class="buttonk">
				<input type="button" class="buttonDl" onmouseout="this.className='buttonDl'" onmouseover="this.className='buttonDlOnlie'" onmousedown="this.className='buttonDlDown'" id="loginbtn"/>
				<input type="button" class="buttonCz" onmouseout="this.className='buttonCz'" onmouseover="this.className='buttonCzOnlie'" onmousedown="this.className='buttonCzDown'" id="resetbtn"/>
			</div>
		</div>
		
		<div class="" id="tishi" style="margin-top:-100px;margin-left:450px;font-weight:bold" ><span>请按F11进入全屏</span></div>
		
		<div class="version"><span></span></div> 
	</div>
	
</body>
</html>