<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>全国执业兽医资格考试计算机考试模拟练习软件</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=8"/> 
	<link type="image/x-icon" href="../common/images/favicon.ico" rel="shortcut icon"/>
	<link rel="stylesheet" type="text/css" href="../common/artdialog/ui-dialog.css" />
	<link rel="stylesheet" type="text/css" href="css/login.css" />

 	<script language="javascript" src="../common/js/jquery.min.js"></script>
  	<script language="javascript" src="../common/artdialog/dialog-min.js"></script>
  	<script language="javascript" src="./js/obt.js"></script>
  	<script language="javascript" src="./js/kslogin.js"></script>
</head>

<body>
<object id="webocx" classid="clsid:A8A7A65A-3E9E-419B-8E8D-B53DD9EDB953" ></object>
	<div class="lg_main">
		<div class="lg_header">
			<span>&nbsp;</span>
		</div>
		<div class="lg_from">
			<div class="shenfenz">
				<span>准考证号:</span>
				<input type="text" id="zkzh" maxlength="11"  />
			</div>
			<div class="zhenjian">
				<span>证件编码:</span>
				<input type="text" id="zjbm" maxlength="18" style="ime-mode:auto;"/>
			</div>
			<div class="buttonk">
				<input type="button" class="buttonDl" onmouseout="this.className='buttonDl'" onmouseover="this.className='buttonDlOnlie'" onmousedown="this.className='buttonDlDown'" id="loginbtn"/>
				<input type="button" class="buttonCz" onmouseout="this.className='buttonCz'" onmouseover="this.className='buttonCzOnlie'" onmousedown="this.className='buttonCzDown'" id="resetbtn"/>
			</div>
		</div>
		<div class="version"><span>V1.0</span></div>
	</div>
	
</body>
</html>